body {
	font-size: 1em;
	margin: 0;
	font-family: helvetica, sans-serif;
	background-color: white;
	color: #343434;
	color: #434343;
	background-color: #1b1b1b;
}


/* TOP BAR
=================*/
#top_bar {
	position: fixed;
	width: 100%;
	height: 3em;
	
	background-color: black;
	background: -moz-linear-gradient(top,  #353535,  #191919);
	background: -webkit-gradient(linear, left top, left bottom, from(#636364), to(black));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='green', endColorstr='#f47a20');
	
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	
	border-bottom: 2px solid #124273;
	
	z-index: 2;
}

#header {
	width: 1040px;
/*	background-color: red;*/
	height: auto;
	margin: 0 auto;
	color: white;
	display:block;

}

/* LOGO::TOP_BAR
=======================*/
#logo {
	padding: .1em;
	padding-top: .85em;
	padding-left: .3em;
	font-size: 1.5em;
	color: white;
	text-shadow: -1px 1px 1px #dedede;
	display: inline-block;
	float:left;	
}

/* QUESTION::TOP_BAR
=======================*/
/*#question_container {
	width: 520px;
	height: auto;
	display: inline-block;
	margin-left: 10.4em;
	vertical-align: top;
	text-align: center;	
}

#back {
	display:inline;
	margin: 0;
	padding: 0 .5em .2em 0;	
	color: #9b9b9b;
	color: #c3c4c5;
}
*/
#avatar {
	width: 57px;
	height: 48px;
	margin: 0;
	padding: 0 .5em 0 0;
	display: inline-block;
	vertical-align: bottom;
	position: 0, 0, fixed;
}

#avatar img {
	padding: 0;
	margin: 0;

	display:inline-block;
}

/*#question {
	display:inline;
	font-size: 2em;
	color: #eaeaea;
	text-shadow: 0px 0px 2px white;
	margin: 0 0 .3em 0;
	padding: 0;

}


#next {
	display:inline;
	margin-top: .6em;
	padding: 0 0 .2em .5em;
	color: #9b9b9b;
	color: #c3c4c5;
	position: static;
}*/


/* NAV::TOP_BAR
=======================*/
#nav {
	display:inline;
	color: white;
	height: 100%;
	float:right;
}

#nav ul {
	display: inline;
	text-align: center;
/*	margin-top:1.7em;*/
	margin-bottom: 0;
}

#nav li {
	display: inline;
	color: #848484;
}



/* TOPIC
=============================*/
#topic_container {
	width: 100%;
	height: auto;
	background: #f4f2d0;
	display: inline-block;
	padding: 1.5em 0 0 0;
	background: url("file:///Users/ethanstillman/Projects/Gruru/daetom/_attachments/images/background.gif") repeat #f4f2d0;

}

#topic_box {
	width: 1040px;
	height: auto;
	margin: 0 auto;	
	margin-top: 3em;
	background-color: #f4f2d0;
	background: transparent;
/*	display: inline-block;*/
}


/* QUESTION::TOPIC
=============================*/
#question_container {
	width: 520px;
	height: auto;
	margin: 0 auto;
	padding: 0;
/*	background-color: red;*/
	text-align: center;
	font-size: 2em;
	color: #535353;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	background-color: #f4f2d0;
}

#question_container p {
	margin: 0;
	padding-top: .3em;
	padding-bottom: .1em;
	background-color: #f4f2d0;
}


/* CHANNEL_NAVIGATION::TOPIC
=============================*/
#channel_container {
	display: inline;
	width: 24.5%;
	height: 344px;
	background-color: white transparent;
/*	background-color: blue;*/
	float: left;
	margin: 0 auto;
	
}

#channel_box {
	width: 200px;
	height: 334px;
/*	background-color: yellow;*/
	margin: .3em .3em 0 .3em;
/*	border: 1px solid black;*/
/*	border-right: 8px solid black;
	border-bottom: 8px solid black;*/
	border: 2px solid #ffea5e;
	background-color: #fdfcf9;
	
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

#ask_question {
	width: 100%;
	height: 40px;
	padding: .6em 0 0 0;
	text-align: center;
}

#ask_question input {
	font-size: 1.5em;
}

#search {
	width: 100%;
	padding: .7em 0 .7em 0;
	text-align: center;
/*	border: 1px solid black;*/
}

#channels {
	width: 100%;
	height: 254px;
/*	border: 1px solid black;*/
}



/* MEDIA::TOPIC
============================*/
#topic_media {
	width: 50%;

	height: 344px;
	background-color: black;
/*	background-color: orange;*/
	margin: 0 auto;
	display:inline-block;
	text-align: center;
	float:left;
	
	border-top: 3px solid #b6b26c;
	border-left: 3px solid #b6b26c;
	border-right: 2px solid #fbf140;
	border-bottom: 2px solid #fbf140;		
/*	-moz-box-shadow: 50px 0px 20px rgba(0,0,0,0.1), -50px 0px 20px rgba(0,0,0,0.1);
	-webkit-box-shadow: 50px 0px 70px rgba(0,0,0,0.1), -50px 0px 70px rgba(0,0,0,0.1);
	box-shadow: 50px 0px 50px rgba(0,0,0,0.2), -50px 0px 50px rgba(0,0,0,0.2);
*/	
}

/* DATA::TOPIC
=========================*/
#data_container {
	display: inline;
	width:24.5%;
	height: 344px;
	background-color: white transparent;
	float: left;
	margin: 0 auto;
	padding: 0;
}

#data_box {
	width: 200px;
	height: 334px;
	background-color: white;
	margin: .3em .3em 0 .3em;
	float:right;
	border: 2px solid #ffea5e;
	background-color: #fdfcf9;
	
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

/* POINTS::DATA
==========================*/
#points_container {
	width: 90%;
	height: 20%;
	margin: 0 auto;
	margin-top: 4%;
	margin-bottom: 2%;
	line-height: .8;

	border: 1px solid black;
}

#my_points {
	background: white;
	text-align: right;
	margin: 0;
	padding: 4px 0 0 0;
	vertical-align: top;

}

#my_points p {
	font-size: 2.8em;
	color: #9c3b3b;
	margin: 0;
	padding: 5px 5px 0 0;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

#total_points {
	text-align: right;
	height: auto;
	padding: 5px 0 0 0;
}

#total_points p {
	margin: 0;
	padding: 0 5px 0 0;
	color: #a9c6de;
}

.counter-wrap {
height:18px;
overflow:hidden;
}

.counter-number {
height:198px;
width:12px;
position:relative;
background-image:url(file:///Users/ethanstillman/Projects/Gruru/daetom/_attachments/images/counter_ticker_bg.gif);
float:left;
}


/* GRAPHS::DATA
==========================*/
#graphs_container {
	width: 90%;
	height: 70%;
	margin:0.6em auto 0;
	background-color: blue;
	text-align: center;
	border: 1px solid black;


}


/* VOTING
========================*/
#voting_container {
	width: 100%;
	min-width: 1040px;
	height: auto;
	background: white transparent;
	background: #f4f2d0;
	display: inline-block;
	margin: 0;
	padding: 1em 0 1.5em 0;
	position:static;
	background: url("file:///Users/ethanstillman/Projects/Gruru/daetom/_attachments/images/background.gif") repeat #f4f2d0;
	background: -moz-linear-gradient(#f4f2d0 70%, white);

	background: -webkit-gradient(linear, center bottom, center top, from(white), color-stop(30%,#f4f2d0), to(#f4f2d0));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f4f2d0');
/*	background: orange;*/
}

#button_box {
	width: 1040px;
	height: auto;
	margin: 0 auto;	
	padding: 0;
	background-color: #f4f2d0;
/*	background: purple;*/
}

#back {
	display: inline;
	float: left;
	height: auto;
	width: 20%;
	padding: 1.5em 5% .5em 0;
	margin: 0;
	text-align: center;
}

#back p {
	margin: 0;
	padding: 0;
	color: red;
}

#buttons_container {
	width: 50%;
	margin: 0 auto;
	height: auto;
	display: inline-block;
	float: left;
	
}

#plus_vote {
	display:inline;
	width: 45%;
	float:left;
	text-align: center;
	margin: 0 0 0 10px;
	padding: 0;
}

#plus_vote input {
	padding: 0 2em 0 2em;
	margin: 0;
}

#minus_vote {
	display:inline	;
	width: 45%;
	float: right;
	text-align: center;
	margin: 0 10px 0 0;
	padding: 0;	
}

#minus_vote input {
	padding: 0 2em 0 2em;
	margin: 0;
}

#next {
	display: inline;
	float: left;
	height: auto;
	width: 20%;
	padding: 1.5em 0 .5em 5%;
	margin: 0;
	text-align: center;
}

#next p {
	margin: 0;
	padding: 0;
	color: red;
}


/* DATA
========================*/
/*#data_container {
	width: 100%;
	height: auto;
	margin: 0;
	background: white;
	background: #fffffa;	

}

#data {
	width: 1040px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 20px 0 0 0;


	-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.3);	
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}*/


#histogram {
	width: 520px;
	height: 150px;
/*	background-color: green;*/
/*	padding-top: 2em;*/
	margin: 0 auto;
	margin-top: 30px;
	position: inline-block;
	border: 2px solid black;
}

#bar_chart {
	width: 520px;
	height: 40px;
/*	background: yellow;*/
	margin: 0 auto;
	
}

#plus_votes {
	height: 20px;
	width: 300px;
	background-color:blue;
}

#minus_votes {
	height: 20px;
	width: 100px;
	background-color:red;
}


#stream_container {
	width: 520px;
	height: 30em;
	margin: 0 auto;
/*	background-color: lightskyblue;*/
	margin-top: 2em;

	border-top: 2px solid #585858;
	border-left: 2px solid #585858;
	border-right: 2px solid #878889;
	
}


/* FOOTER
=================*/
#footer_container {
	width: 100%;
	margin: 0;
	height: auto;
	background-color: #1b1b1b;
	color: white;
	border-top: 4px solid #124273;
}

#footer {
	width: 1040px;
	margin: 0 auto;		
	padding: 1.5em 0 1em 0;
}

#bottom_nav {
	
}

#bottom_nav ul {
	display: inline;
	padding: 1em 0 0 .8em;
	margin: 0;
}

#bottom_nav li {
	display: inline;
	padding: 0 .5em 0 0;
	margin: 0;
}


#legal {
	padding: 1.5em 0 0 1em;
	font-size: .7em;
}

#terms {
	opacity: 0.8;
	text-shadow: 0 0 2px rgba(255,255,255,0.8);
}

#copyright {
	opacity: 0.8;
	padding: .5em 0 0 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.8);
}


/* RESOURCES 
============================*/
/* BUTTONS::RESOURCES 
============================*/
.button {
	opacity: 1.0;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	
	font-size: 3em;
	
/*	-moz-border-radius: 1.5em;
		-webkit-border-radius: 1.5	em;
		border-radius: 1.5em;	
*/	
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	
	color: white;
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

/* ORANGE_BUTTON::RESOURCES 
============================*/
.orange {
	color: #fef4e9;
	border-top: solid 2px #da7c0c;
	border-bottom: solid 4px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* GRAY_BUTTON::RESOURCES 
============================*/
.gray {
	color: white;
	border-top: solid 2px #3c6988;
	border-bottom: solid 4px #3c6988;
	border-left: solid 2px #8e8e8e;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#b2b6b9), to(#6a6968));
	background: -moz-linear-gradient(top,  #b2b6b9,  #6a6968);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b6b9', endColorstr='#6a6968');
}

.gray:hover {
	border-top: solid 2px #da7c0c;
	border-bottom: solid 4px #da7c0c;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.gray:active {
	border-bottom: solid 2px #e6922e;
	border-left: solid 2px #b5b5b5;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}














